// Wide Theme

@keyframes Radiate {
		  0% {box-shadow : 0px 0px 10px 5px rgba(100,255,255,1), 0px 0px 20px 15px rgba(100,150,255,0.5);}
		 50% {box-shadow : 0px 0px 10px 5px rgba(100,255,255,1), 0px 0px 10px  7px rgba(100,150,255,0.5);}
		100% {box-shadow : 0px 0px 10px 5px rgba(100,255,255,1), 0px 0px 20px 15px rgba(100,150,255,0.5);}
}

.wizardOverlay.wizardWide 
{
	._g {background:rgba(0,0,0,0.65);}
	
	._f {
		border:1px solid white;
		border-radius: 4px !important;
		
		&:before,&:after {
			content: ' ';
			position: absolute; display: block;
			width: 100%; height: 100%;
			border: 1px solid white;
			border-radius: 4px !important;
		}

		&:before {padding: 1px; margin: 0px; top: -2px; left: -2px; box-sizing: content-box;}
		&:after	{
			padding: 1px; margin: -1px; top: 1px; left: 1px;
			box-shadow : 
				0px 0px 10px 5px rgba(100,255,255,1), 
				0px 0px 20px 15px rgba(100,150,255,0.5);
			z-index:-1;
			animation-name: Radiate;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}
	}
	
	.floatingStepContainer{@include opacity(0.8);}
	
	&.noHighlight {
		.floatingStepContainer {@include opacity(1);} 
		.floatingStep {
			@include box-shadow("rgba(0, 0, 0, 0.2) 0px 0px 150px 10px, rgba(0, 0, 0, 0.25) 0px 0px 150px 100px, rgba(0, 0, 0, 0.5) 2px 2px 3px 0");
		}
	}
}


$wizardButtons_PaddingHeight : 5px;
$wizardButtons_PaddingWidth : 7px;
.wizardStep.wizardWide 
{ 
	font-size: 14px;
	
	.wizardNavigationContainer {
		display:table;
		> * {display: table-cell; vertical-align: middle;}
	}
	
	.wizardContent {padding: 0.65em;}
	
	.wizardPrev,
	.wizardNext,
	.wizardClose {padding: $wizardButtons_PaddingHeight $wizardButtons_PaddingWidth;}

	.wizardPrev,
	.wizardNext,
	.wizardClose {color:black;}
	.wizardPrev:hover,
	.wizardNext:hover,
	.wizardClose:hover {background:#666; color:white;}

	.wizardCountDown {background: #80d0ff;}
	
	
	&.anchoredStep {
		width: 100%;
		.wizardNavigationContainer 
		{
			.wizardCountDown {height: 4px;}
		}
	}
	
	
	&.floatingStep {
		background: #fff; color: black;
		border:solid 1px #666;
		min-width: 100px;
		text-align: center;
		padding: 0;
		border-radius: 5px;
		@include box-shadow(rgba(0, 0, 0, 0.5) 2px 2px 3px 0);
	
		&.wizardPos_top:before {
			margin-top: -1px; /* We have to hide the progress bar */
			border-top-color: #333;
		}
		&.wizardPos_bottom:before {border-bottom-color: #555;}
		&.wizardPos_right:before  {border-right-color: #333;}
		&.wizardPos_left:before   {border-left-color: #333;}
	
		.wizardHeader {
			position: relative;
			font-size: 16px; font-weight: bold;
			border-bottom: 1px dashed #888;
			margin: 0; padding: 3px;
			
		}
	
		.wizardContent {min-width:150px; max-width: 300px; padding-bottom:7px;}
	}

	.wizardCountDown {
		height:3px;
		&:before {
			border-top: 1px solid #ccc;
			width: 200%;
			height: 1px;
			content: ' ';
			position: absolute;
			margin-left: -50%;
			margin-top: -1px;
		}
	}
}